.center {
    width: 500px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .card-content {
    padding: 16px 16px;
  }

  .card-btn {
    margin-left: 8px;
  }
  
  .full-width {
    width: 100%;
  }